<!--Proyectos-->

<div class="container-fluid   ">



  <div class="mx-auto p-5 ">
    <p class="h1 text-center text-primary">PROYECTOS</p>
  </div>

  
  <div class=" row card-group  d-flex flex-wrap   justify-content-md-center contenedor  ">
      <div class="card  col-md-4 px-2 py-3 carta bg-primary" style="max-width: 350px; margin: 30px; min-width: 300px;"  *ngFor="let proyecto of proyectos">
        <img src="https://picsum.photos/id/192/200/300" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-white">{{proyecto.nombre}}</h5>
          <p class="card-text">{{proyecto.descripcion}}</p>
          <a href="#" class="btn btn-outline-light">Ir al sitio</a>
        </div>
      </div>

    


<!--
      <div class="col card text-white bg-primary m-5" style="max-width: 18rem;">
        <img src="https://picsum.photos/id/133/200/300" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-outline-light">Ir al sitio</a>
        </div>
      </div>

      <div class="col card text-white bg-primary m-5" style="max-width: 18rem;">
        <img src="https://picsum.photos/id/163/200/300" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-outline-light">Ir al sitio</a>
        </div>
      </div>
    </div>

-->


  </div>


</div>
<!--Proyectos-->

<!--Espacio en blanco-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!--Espacio en blanco-->