<a [routerLink]="['/admin']" style="position:absolute; left:30px;"><img src="../../../assets/img/flecha-izquierda.png" alt="icono volver"></a>

<div class="box"  style="margin-top: 100px; margin-bottom: 100px;">

    <div> 
      <h2 class="text-center mt-5">Estudios</h2>
  
      <div class="d-flex  justify-content-center">
      <button class="btn btn-primary mt-3" (click)="agregarEstudio()">Agregar estudio</button>
      </div>  
   </div>
      
     
  <div class="contenedor  mx-auto  p-5 text-center">
  
      <h3 class="p-3 ">Editar estudios</h3>
     
  
      <div class="datos_usuario mx-auto text-center">
       
          <table class="table table-striped border-bottom  mx-auto">
      
              <thead>
                  <tr class="fw-bold">
                      <td>ESTABLECIMIENTO</td>
                      <td>FECHA INICIO</td>
                      <td>FECHA FIN</td>
                      <td>TITULO</td>
                      <td>ACCIONES</td>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let estudio of estudios">
                      <td>{{estudio.establecimiento}}</td>
                      <td>{{estudio.fecha_inicio}}</td>
                      <td>{{estudio.fecha_fin}}</td>
                      <td>{{estudio.titulo}}</td>
                      <td class="w-25">
                          <a (click)="verEditarEstudio(estudio.id)"    class="btn  mx-2"> <img src="../../../assets/img/lapiz.png" width="25px" alt="icono_editar"> </a>
                          <button (click)="eliminarEstudio(estudio.id)" class="btn  mx-2"> <img src="../../../assets/img/cerrar.png" width="25px" alt="icono_eliminar"> </button>
                      </td>
                  </tr>
               
              </tbody>
          </table>
  
      </div>
  
  
      
  
  
  </div>
  
  </div>