
.contenedor_categorias{
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-width: 800px;
}

.data{
    border-radius: 20px;
    max-width: 800px;
    padding: 10px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

li{
    list-style: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    max-width: 500px;
}

a{
    text-decoration: none;
    
   
}

.modo{
    color: midnightblue;
   
}

