<!--Texto de bienvenida-->
<section class="container ">
  <!--<div class="row">
    <div class="col-12 text-center pt-5 mt-5 text-primary"><h1 class="display-1">BIENVENIDOS A MI PORTAFOLIO</h1></div>
    <div class="col-12 d-flex justify-content-center text-primary  contenedor_texto">
      <p class="texto h3">Soy Lucas Fanin, desarrollador <b>Full Stack Jr.</b> </p> 
      <p class="texto1 h5 justify-content-center">Soy Lucas Fanin, desarrollador FullStack Jr.</p> 
     </div>
  </div>-->
  </section>
  <!--Texto de bienvenida-->
  <div class="row d-flex justify-content-center banner p-5">
    <div class="col-10 " style="height: 270px;">
      <p class="h1 text-center text-white">BIENVENIDOS A MI PORTAFOLIO!</p>
      <p class="h3 text-center text-white">Soy Lucas Fanin, programador FullStack Jr.</p>
    </div>
    
  </div>
  
  <!--Espacio en blanco-->
       
         
  <!--Espacio en blanco-->
  
  <!--Gift soldadito-->
  <div class="row  soldado">
  <img src="../../assets/img/gif-grande.gif" class="mx-auto img-fluid" style="height: 270px; width: 480px;" alt="programando...">
  </div>
  <!--Gift-->
  
  <!--Espacio en blanco-->
  <br>
  <br>
 
  <!--Espacio en blanco-->
  

 
  <p id="sobremi" class="pb-5"></p>
  <app-sobremi></app-sobremi>
  <app-estudiosver></app-estudiosver>
  <hr>
  <p id="proyectos" class="pb-5"></p>
  <app-proyectos></app-proyectos>
  <hr>
  <p id="contacto" class="pb-5"></p>
  <app-contacto id="contacto"></app-contacto>

  